/* write your override styles here */
#wall .tag-1 {
  display: none;
  background: none;
}

#wall.parent, .slick, #tag-2 {
display: none;
background: none;
}

#tag-2.parent, #tag-3.parent, #tag-4.parent, #tag-5.parent, #tag-6.parent, #tag-7.parent{
  background: none;
}